<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="http://localhost:8081/addNews/3" method="post">
        <input type="text" name="rubric">Спорт</input>
        <input type="text" name="header">test</input>
        <input type="text" name="content">test</input>
        <input type="text" name="description">test</input>
        <input type="image" name="picture" size="test.jpg"/>
        <input type="submit">
    </form>
</body>
</html>